doctype html
html
    head
        title Solved Sudoku Generator
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        .container
            h1.noprint Howto to use solved sudoku:
            p.noprint.description Click sudoku numbers to remove them. #[span(class='print') Print] sudoku and share with your friends.
            block sudokuBlock
            script(src="/javascripts/main.js")